<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Spring Security Example </title>
</head>
<body>
<h1>Register</h1>

<form th:action="@{/register}" th:object="${userEntity}" method="post">
    <div>
        <label>User Name: <input type="text" th:field="*{username}"/></label>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    </div>
    <div>
        <label>Password: <input type="password" th:field="*{password}"/></label>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>
    <div><input type="submit" value="Register"/></div>
</form>

</body>
</html>